<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passenger_uuid %><br />
    <%= f.text_field :passenger_uuid %>
  </div>
  <!-- <div id="ride_monitors">
  	<%= render :partial => 'ride_monitor', :collection => @ride.ride_monitors %>
  </div> -->
  <p>
  	<% f.fields_for :children do |child_form| %>
  		<%= child_form.label :email %>
  		<%= child_form.text_field :email %>
  		
  		<% unless child_form.object.new_record? %>
  			<%= child_form.check_box '_destroy' %>
  			<%= child_form.label '_destroy', 'Remove' %>
  		<% end %>
  	<% end %>
  	<!-- <%= add_ride_monitor_link "Add a ride monitor" %> -->
  </p>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
