<% if @ride.status == Ride::CHECKED_IN %>
	<% javascript_tag do %>
	    // not used
		function record_track_android_lv10(latitude, longitude) {
			// post location
			var url = "/rides/" + <%= @ride.id.to_s %> + "/record_track";
		    $.get(url, {latitude: latitude, longitude: longitude });
		    window.location.reload(true);
		}
		
		function record_track(latitude, longitude) {
			// post location
			var url = "/rides/" + <%= @ride.id.to_s %> + "/record_track";
		    $.get(url, {latitude: latitude, longitude: longitude });
		}
		
		function reload_page() {
		    window.location.reload(true);
		}
		
		function success_callback(p)
		{
			record_track(p.coords.latitude, p.coords.longitude);
		}
		
		function update_map() {
            $.ajax({
    	        type: 'GET',
    	        dataType: 'json',
    	        url: '/rides/<%=@ride.id %>/mapurl/',
    	        success: function (new_url) {$("#mapimg").attr("src", new_url)},
    	        error: function (jqXHR, textStatus, errorThrown) {alert(textStatus); alert(errorThrown)},
    	    });		
		}
		
		function error_callback(p)
		{
			alert('error='+p.code);
		}
		
		if (is_android() == true) {
    		//$.get('toapp://ensureTracking');
    		//window.location.replace("toapp://ensureTracking");
    		//Android.startTracking();
    		//alert('call Android');
    		//m = Android.get_test();
    		//alert('okay! ');
    		//setTimeout("location.reload(true);", 5000);
    		//window.location.replace("toapp://ensureTracking");
    		setTimeout("window.location.replace('toapp://ensureTracking');", 3000);
    	} else if (is_iphone() == true) {
        	// refresh after 5 sec.
    		setTimeout("location.reload(true);", 5000);
    		geo_position_js.init();
    		geo_position_js.getCurrentPosition(success_callback,error_callback);
    	} else {
    	    var msg = 'Who are you?';
    	    alert(msg);
    	}
    	
	<% end %>
<% end %>
<div data-role="header">
	<h1>Your status</h1>
</div>

<div data-role="content">
	<% if @ride.status == Ride::CHECKED_IN	%>
		<p><%= @ride.created_at.strftime("You have checked in at %I:%M%p") %></p>
		<p>Tracking your locations...</p><br/>
		<%= link_to "Check out", :action => :check_out, :id => @ride.id %><br/>
		<img id="mapimg" src="<%= raw @map_url %>" />
	<% end %>
	<% if @ride.status == Ride::CHECKED_OUT %>
		<p>You have checked out</p>
		<%= link_to "Check in", :action => :new %>
		<img src="<%= raw @map_url %>" />
	<% end %>
	<input type="button" value="Reload Page" onClick="window.location.reload()">
</div>
